name: build

on:
  push:
    branches:
    # tags-ignore:
    #   - 'v*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: set up just
        uses: extractions/setup-just@v3

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false
        id: go

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: check
        run: |
          just check

      - name: build
        run: |
          just build
          build/hub --version
          build/hub s --help
